{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<h1>Bienvenue au Bar Bu</h1>
<h2>Projet de Bar <br> By Xavier Dauchart </h2><br>
<a href="{{ path('app_users') }}">Entrer dans le Bar</a><br>
<a href="https://github.com/XavDauch/">Mon github</a>

{% endblock %}
