{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('app_hellos')}}">Home</a>
        <h1>Clients</h1>
        <a href="{{ path('app_users_new') }}">Ajouter Client</a>
</div>

{% for user in users %}
    <h2>{{ user.unsername }}</h2>
    <p>{{user.bottle|length }}</p>

    <a href="">Edit</a>
    <a href="">Delete</a>
{% endfor %}



  
{% endblock %}
